<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_mock_hardware" default="false" />

  <xacro:include filename="$(find ros2_control_demo_description)/diffbot/urdf/diffbot_description.urdf.xacro" />
  <xacro:include filename="$(find ros2_control_demo_example_2)/urdf/actuation_system.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find ros2_control_demo_description)/diffbot/urdf/diffbot.materials.xacro" />

  <!-- Import diffbot ros2_control description -->
  <xacro:include filename="$(find ros2_control_demo_example_2)/ros2_control/diffbot.ros2_control.xacro" />

  <!-- Get the base dimensions from diffbot macro -->
  <xacro:property name="base_width" value="0.1" />
  <xacro:property name="base_length" value="0.1" />
  <xacro:property name="base_height" value="0.05" />

  <xacro:diffbot prefix="$(arg prefix)" />
  <xacro:actuation_system 
    prefix="$(arg prefix)"
    base_length="${base_length}"
    base_width="${base_width}"
    base_height="${base_height}" />

  <!-- Instantiate drive system -->
  <xacro:diffbot_ros2_control
    name="DiffBotSystem" 
    prefix="$(arg prefix)" 
    use_mock_hardware="$(arg use_mock_hardware)"/>
  
  <!-- Instantiate actuation system -->
  <xacro:actuation_ros2_control 
    name="ActuationSystem" 
    prefix="$(arg prefix)" 
    use_mock_hardware="$(arg use_mock_hardware)"/>

</robot>
