<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Drive system (wheels) -->
  <xacro:macro name="diffbot_ros2_control" params="name prefix use_mock_hardware">
    <ros2_control name="${name}" type="system">
      <xacro:unless value="${use_mock_hardware}">
        <hardware>
          <plugin>ros2_control_demo_example_2/DiffBotSystemHardware</plugin>
          <param name="fl_serial_num">527164</param>
          <param name="fl_port_num">2</param>
          <param name="bl_serial_num">527103</param>
          <param name="bl_port_num">2</param>
          <param name="fr_serial_num">527164</param>
          <param name="fr_port_num">3</param>
          <param name="br_serial_num">527103</param>
          <param name="br_port_num">3</param>
        </hardware>
      </xacro:unless>
      <xacro:if value="${use_mock_hardware}">
        <hardware>
          <plugin>mock_components/GenericSystem</plugin>
          <param name="calculate_dynamics">true</param>
        </hardware>
      </xacro:if>
      <joint name="${prefix}left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>

  <!-- Actuation system (legs) -->
  <xacro:macro name="actuation_ros2_control" params="name prefix use_mock_hardware">
    <ros2_control name="${name}" type="system">
      <xacro:unless value="${use_mock_hardware}">
        <hardware>
          <plugin>ros2_control_demo_example_2/ActuationSystemHardware</plugin>
          <param name="act0_serial_num">527103</param>
          <param name="act0_port_num">0</param>
          <param name="act1_serial_num">527103</param>
          <param name="act1_port_num">1</param>
          <param name="act2_serial_num">527164</param>
          <param name="act2_port_num">0</param>
          <param name="act3_serial_num">527164</param>
          <param name="act3_port_num">1</param>
        </hardware>
      </xacro:unless>
      <xacro:if value="${use_mock_hardware}">
        <hardware>
          <plugin>mock_components/GenericSystem</plugin>
          <param name="calculate_dynamics">true</param>
        </hardware>
      </xacro:if>
      <joint name="${prefix}actuator_joint_0">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}actuator_joint_1">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}actuator_joint_2">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}actuator_joint_3">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>

</robot>